#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    margin-top: 200px;
}

/* #about .about-video {
    width: 80%;
} */

#about .about-video iframe{
    /* width: 100%; */
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    /* background-color: rgb(80, 80, 80); */
    margin: 60px;
    /* background: url('launching.png') no-repeat center center/cover; */
}

/* @media (max-width: 1050px){
    #about .about-video {
        width: 800px;
        height: 460px;
    }
}

@media (max-width: 850px){
    #about .about-video {
        width: 600px;
        height: 360px;
    }
}

@media (max-width: 630px){
    #about .about-video {
        width: 400px;
        height: 240px;
    }
} */

@media (max-width: 420px){
    #about .about-video {
        width: 350px;
        height: 210px;
    }
    #about {
        margin-top: 100px;
    }
}